<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title>Votre profil | Le Happy Skieur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="squelette">
    <div>
        <header>
            <p>Le&nbsp;Happy Skieur</p>
        </header>
        <main>
            <div>
                

            </div>
            <section class="profil">
                <article>
                    <h1>Informations personnelles</h1>
                    <div class="infos-profil">
                        <p>Nom</p>
                        <p>
                            <%= profil.name%>
                        </p>
                        <p>Courriel</p>
                        <p>
                            <%= profil.email%>
                        </p>
                        <p>Listes de mes amis : </p>
            
                            <% friends.friends.forEach(element =>{%>
                                <a href="/user/<%= element.id %>"><%= element.name %></a>
                                <form action="/unfriend/<%= element.id %>?_method=DELETE" method="post">  
                                    <button type="submit">Delete</button>
                                </form> 
                            <%})%>
                        

                    </div>
                    <div class="bouton">
                        <a href="#" title="Modifier ses informations personnelles" class="bouton-fonce">Modifier</a>
                    </div>
                </article>
                <article>
                    <h1>Spots de ski préférés</h1>
                    <p>Découvre les meilleurs endroits pour faire du ski de randonnée avec tes amis et partage ceux que
                        tu préfères!</p>
                    <div class="bouton">
                        <a href="/filActualite" title="Voir tous les spots de ski" class="bouton-fonce">Voir les
                            spots</a>
                        <a href="/create" title="Ajouter un spot de ski" class="bouton-fonce">Ajouter un spot</a>
                    </div>
                </article>
            </section>
            <aside>
                <img src="../images/paysage-randonnee2.jpg" alt="">
                <h1>Le saviez-vous ?</h1>
                <p>Le ski arrive en tête de liste des loisirs d’hiver au Québec. Nous vous proposons donc un top des
                    meilleurs endroits pour skier au Québec !</p>
                <p>Vous le savez, le ski de fond est un excellent exercice cardiovasculaire. Pour que votre saison soit
                    optimale et pour éviter les courbatures et la fatigue du début, ne laissez pas l’automne vous
                    arrêter de bouger.</p>
                <p>Pendant au moins 30 minutes, 3 fois par semaine, prenez des marches lentes et rapides ou continuez la
                    course à pied par intervalle. Si les conditions ne le permettent pas, optez pour le vélo
                    stationnaire ou l’elliptique, mais essayez de sortir dehors le plus possible pour habituer votre
                    corps et vos poumons au changement de température. Si vous habitez près de Québec, vous pouvez venir
                    monter et descendre les 487 marches de l’escalier panoramique qui relie le haut et le bas de la
                    chute Montmorency.</p>
            </aside>
        </main>
    </div>
</body>
</html>